@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply m-0 border-border p-0;
  }

  @font-face {
    font-family: "cabinet-grotesk";
    src: url(../font/CabinetGrotesk-Variable.woff2) format("woff2");
  }

  body {
    @apply bg-background text-foreground;
  }

  [data-sonner-toaster] {
    font-family: "__GeistSans_2ce99c", "__GeistSans_Fallback_2ce99c";
  }

  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #262626;
    opacity: 0.15;
    background-image: repeating-linear-gradient(
        45deg,
        #050505 25%,
        transparent 25%,
        transparent 75%,
        #050505 75%,
        #050505
      ),
      repeating-linear-gradient(
        45deg,
        #050505 25%,
        #262626 25%,
        #262626 75%,
        #050505 75%,
        #050505
      );
    background-position:
      0 0,
      10px 10px;
    background-size: 20px 20px;
    z-index: -1;
  }

  .timeline__list:last-child .timeline__list__item {
    margin-bottom: 0;
  }

  .timeline__list__item:last-child .event__description {
    margin-bottom: 0;
  }

  .timeline__list {
    border-image: linear-gradient(
        180deg,
        rgba(60, 74, 83, 1),
        rgba(60, 74, 83, 0)
      )
      0.75;
  }
}
